pip==25.2
wheel==0.44.0
setuptools==75.1.0
ccxt>=4.3.1
pandas==2.2.2
numpy==1.26.4
pandas-ta==0.3.14b
python-telegram-bot==20.7
schedule==1.2.2
requests==2.32.3
python-dotenv==1.0.1
APScheduler==3.10.4
fastapi==0.115.0
uvicorn==0.30.6
gunicorn==22.0.0
