python-binance==1.0.19
pandas==1.5.3
numpy==1.26.4
requests==2.32.3
pymongo==4.8.0
python-dotenv==1.0.1
schedule==1.2.1
flask==3.0.3
cachetools==5.5.0
flask-limiter==3.11.0
aiohttp==3.10.5
xgboost==2.1.1
colorlog==6.8.2
pytz==2023.3
gunicorn==21.2.0
gevent==24.2.1
websocket-client==1.6.3
